{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NTPC Registration</title>

    <link rel="stylesheet" href="{% static 'bower_components/tether/dist/css/tether.min.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
</head>
<body>

<div class="container" style="margin-top: 15px">
    <div class="row">
        <div class="col-lg-12">
            <hr>

            <h2 class="text-center">Registration successful!</h2>

            <p class="lead">You have been successfully registered! You will receive a confirmation Email.

                <br>
                <br>

                <span style="border: 1px solid rgba(1, 1, 1, .5); padding: 5px; font-weight: normal;">You have been assigned the ID: <b>{{ registered.username }}</b></span>

                <br>
                <br>

                You will use the ID as your variable symbol when sending your payment. Without the ID, your payment might
                take longer to process or might not be processed at all!

                <br>
                <br>

		<b>QR Codes for quick payment:</b>
		<br>
		<div class="row">
		    <div class="col-lg-6">
			    <img src="https://api.paylibo.com/paylibo/generator/czech/image?compress=false&size=40&accountNumber=2200041594&bankCode=2010&amount=1200&currency=CZK&vs=' + {{ registered.username }} + '" alt="Quick Payment QR Code" />
			    <br>
			    <b>CZK Payment</b>
		    </div>
		    <div class="col-lg-6">
			    <img src="https://api.paylibo.com/paylibo/generator/image?compress=false&size=40&iban=SK1583300000002200041594&amount=46&currency=EUR&vs="' + {{ registered.username }} +' alt="Quick Payment QR Code" />
			    <br>
			    <b>EUR Payment</b>
		    </div>
		</div>

		<br>
		<br>

                You can use the email and password you've entered to <a href="/login">log into the system</a> and check your entered information.
            </p>

            <br>
	    <br>

	    <h3>Payment information:</h3>
	    <p>Please send <b>1200 CZK</b> (or 46 EUR) to a bank account number <b>2200041594/2010</b> (FIO Bank). (Please see below for international and EUR payments)</p>
            <p>If you do not want to stay for the whole time, please contact <a href="mailto:snajpa@snajpa.net">snajpa@snajpa.net</a></p>
	    <p><b>International payment details:</b></p>
	    <p><b>IBAN CZ:</b> CZ0420100000002200041594<br>
            <b>BIC: FIOBCZPPXXX</b><br>
            <b>IBAN SK:</b> SK1583300000002200041594<br>
            <b>BIC SK:</b> FIOZSKBA</p>



            <hr>

            <p>&copy; <a href="https://ntpc.wtf">ntpc</a>, 2017 <span style="float: right">Made by <a
                    href="https://sychadesign.com">Sycha design.</a></span></p>
        </div>
    </div>
</div>

<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/tether/dist/js/tether.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
</body>
</html>
